.layout {
  --outer-padding: var(--spacing-4);

  display: grid;
  grid-template-columns: subgrid;
  position: relative;
  background-color: var(--c-bg-secondary);
}

.header-left {
  display: grid;
  align-items: center;
  padding: var(--outer-padding);

  @media (width >= 768px) {
    border-right: 1px solid var(--c-border);
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: var(--outer-padding);

  @media (width >= 768px) {
    border-bottom: 1px solid var(--c-border);
  }
}

.edit {
  width: 1rem;

  svg {
    height: 2rem;
  }
}

.logo {
  width: 2rem;
}

.desktop-logo {
  height: 1.5rem;

  path {
    fill: var(--c-heading);
  }
}

.name {
  @media (width >= 768px) {
    margin-right: auto;
  }
}

.chevron {
  width: 0.75rem;
  margin-right: auto;

  @media (width >= 768px) {
    margin-right: 0;
  }
}
