.layout {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20rem;
  gap: var(--spacing-8);
}

.column {
  display: grid;
  gap: var(--spacing-4);
  padding: 1rem;
  border: 1px dashed var(--c-border);
  border-radius: 1rem;
}
