.button-base {
  --p-base: 0.75rem;
  --bd-rd-base: 2rem;
}

.add-task {
  composes: button-base;

  padding: var(--p-base);
  border-radius: var(--bd-rd-base);
  color: var(--c-secondary);
  background-color: var(--c-primary);
}

.icon {
  width: 1rem;
}

.delete {
  color: var(--c-error);
}
