.layout {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.edit {
  width: 1rem;

  svg {
    height: 2rem;
  }
}

.logo {
  width: 2rem;
}

.name {
  @media (width >= 768px) {
    margin-right: auto;
  }
}

.chevron {
  width: 0.75rem;
  margin-right: auto;

  @media (width >= 768px) {
    margin-right: 0;
  }
}
