.heading {
  font-size: var(--fs-h4);
  color: var(--c-error);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.delete-button {
  padding: 1rem;
  color: var(--c-secondary);
  background-color: var(--c-error);
  border-radius: 3rem;
}

.cancel-button {
  padding: 1rem;
  color: var(--c-primary);
  background-color: var(--c-secondary);
  border-radius: 3rem;
}
