.layout {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  position: absolute;
  top: 100%;
  right: 1rem;

  & > button:first-of-type {
    justify-self: end;
  }

  & > button:not(:first-of-type) {
    justify-self: start;
  }
}
