:root {
  color-scheme: light dark;

  --black: #000112;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-grey: #828fa3;
  --lines-light: #e4ebfa;
  --light-grey: #f4f7fd;
  --white: #fff;
  --main-purple: #635fc7;
  --main-purple-hover: rgb(168, 164, 255);
  --red: #ea5555;
  --light-red: #ff9898;

  --c-primary: var(--main-purple);
  --c-secondary: var(--white);

  --c-heading-light: var(--black);
  --c-heading-dark: var(--white);
  --c-heading: light-dark(var(--c-heading-light), var(--c-heading-dark));
  --c-text: var(--medium-grey);
  --c-error: var(--red);

  --c-bg-error: var(--light-red);
  --c-bg-secondary-light: var(--white);
  --c-bg-secondary-dark: var(--dark-grey);
  --c-bg-secondary: light-dark(
    var(--c-bg-secondary-light),
    var(--c-bg-secondary-dark)
  );
  --c-bg-primary-light: var(--light-grey);
  --c-bg-primary-dark: var(--very-dark-grey);
  --c-bg-primary: light-dark(
    var(--c-bg-primary-light),
    var(--c-bg-primary-dark)
  );

  --c-bg-tertiary-light: var(--white);
  --c-bg-tertiary-dark: var(--black);
  --c-bg-tertiary: light-dark(
    var(--c-bg-tertiary-light),
    var(--c-bg-tertiary-dark)
  );
}

.light {
  --c-heading: var(--c-heading-light);
  --c-bg-secondary: var(--c-bg-secondary-light);
  --c-bg-primary: var(--c-bg-primary-light);
  --c-bg-tertiary: var(--c-bg-tertiary-light);
}

.dark {
  --c-heading: var(--c-heading-dark);
  --c-bg-secondary: var(--c-bg-secondary-dark);
  --c-bg-primary: var(--c-bg-primary-dark);
  --c-bg-tertiary: var(--c-bg-tertiary-dark);
}
